@charset "utf-8";
@import '_font';
@import '_color';
@import '_reset';
@import '_variable';
@import '_mixin';


@mixin zoom_icon_pc {
	background-image: url('#{$bg-url}/search_zoom.svg');
	background-repeat: no-repeat;
	background-position: right 24px center;
}

.search-wrap { margin:50px;
	$border-width: 2px;
	$border-radius: 29px;
	$search-padding: 24px;

	position: relative;
	width: 420px;
	padding: $border-width;
	background: linear-gradient(90deg, $everyday-primary 10%, $reward-primary 90%);
	border-radius: $border-radius;
	box-shadow: 0 5px 15px rgba(#000, .07);
	// 배경 적용
	&:before {
		position: absolute;
		left: $border-width;
		top: $border-width;
		right: $border-width;
		bottom: $border-width;
		background-color: $bg-default;
		border-radius: calc(#{$border-radius} - #{$border-width});
		content: "";
	}
	& > div {
		position: relative;
	}

	// 검색 input / 검색어 삭제 버튼 / 검색하기 버튼
	.search-input-box {
		position: relative;
		$height: 54px;
		$zoom: 60px;

		&:before {
			opacity: .5;
			position: absolute; right: 0; top: 0;
			width: 100%; height: 100%;
			@include zoom_icon_pc;
			border-radius: calc(#{$border-radius} - #{$border-width});
			content: "";
		}
		.search-input {
			position: relative; z-index: 1;
			width: 100%; height: $height;
			padding: 0 calc(#{$zoom}) 0 #{$search-padding};
			font-size: 18px;
			font-weight: 600;
			color: $text-accent;
			border-radius: 100px;
			background-color: transparent;
			border: none;
			outline: none;
			@include placeholder($font-weight: 400, $color: #{$opacity-35});
			&:focus,
			&:not(:placeholder-shown) {
				padding: 0 calc(#{$zoom} + (#{$height} - 10px) + 16px) 0 #{$search-padding};
			}
		}
		.search-clear {
			display: none;
			position: absolute; right: $zoom; top: 0; z-index: 1;
			width: calc(#{$height} - 10px); height: $height;
			i {
				position: absolute; left: 50%; top: 50%;
				transform: translate(-50%, -50%);
				width: 3px; height: 24px;
				font-size: 0;
				text-indent: -9999px;
				&:before,
				&:after {
					position: absolute; left: 0; top: 0;
					width: 100%; height: 100%;
					background-color: $text-blurry;
					content: "";
				}
				&:before {transform: rotate(45deg);}
				&:after {transform: rotate(-45deg);}
			}
		}
		.search-button {
			opacity: 0; visibility: hidden;
			position: absolute; right:0; top:0; z-index: 2;
			width: $zoom; height: $height;
			font-size: 0;
			text-indent: -9999px;
			border-radius: 0 $border-radius $border-radius 0;
			@include zoom_icon_pc;
			background-position: right 24px center;
		}
		.search-input:not(:placeholder-shown) ~ .search-button {
			opacity: 1; visibility: visible;
		}
	}

	// 최근 검색어 / 인기 검색어
	.search-list-box {
		opacity: 0;
		visibility: hidden;
		position: absolute; left: -9999px; top: -9999px;

		display: flex;
		flex-direction: column;
		gap: 22px;
		margin: 0 $search-padding ($search-padding + 2px);
		padding-top: 25px;
		border-top: 2px solid $opacity-20;

		.list-box {
			position: relative;

			.list-box-title {
				display: block;
				@include text-style(body, large, semibold);
			}
			.clear-all-list {
				position: absolute; right: 0; top: 0;
				line-height: 160%;
				@include text-style(body, base, regular, 185%);
				text-decoration: underline;
				color: $text-lighten;
				&:hover {
					color: $text-accent;
				}
			}
		}
	}
	&.search-input-focus .search-list-box {
			opacity: 1;
			visibility: visible;
			position: relative; left: 0; top: 0;
	}

}

// 최근 검색어 목록 / 인기 검색어 목록
.recent-search-words-list,
.popular-search-word-list {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
	margin-top: 10px;
}

// 최근 검색어 목록 아이템
.recent-search-words-list-item {
	position: relative;
}

// 최근 검색어 / 인기 검색어
.recent-search-word,
.popular-search-word {
	display: inline-flex;
	align-items: center;
	height: 34px;
	padding: 0 15px;
	border-radius: 50px;
	@include text-style(body, base, medium);
	color: $text-accent;
}
.recent-search-word {
	padding-right: 33px;
	border: 1px solid $opacity-10;
	transition: border-color .15s;
	&:hover {
		border-color: $everyday-primary;
	}
}
.recent-search-word-delete {
	position: absolute; right: 10px; top: 50%;
	transform: translateY(-50%);
	width:20px; height: 20px;
	border-radius: 100%;

	i {
		position: absolute; left: 50%; top: 50%;
		transform: translate(-50%, -50%);
		font-size: 0; text-indent: -9999px;
		width: 1px; height: 13px;

		&:before,
		&:after {
			position: absolute; left: 0; top: 0;
			width: 100%; height: 100%;
			background-color: $text-blurry;
			transition: background-color .15s;
			content: "";
		}
		&:before {transform: rotate(45deg);}
		&:after {transform: rotate(-45deg);}
	}

	&:hover i {
		&:before,
		&:after {
			background-color: $text-accent;
			box-shadow:0 0 1px 0 $text-blurry;
		}
	}
}
.recent-search-words-list-item:has(.recent-search-word-delete:hover) .recent-search-word {
	border-color: rgba($everyday-primary, .6);
}
.empty-search-words-list {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 56px;
	@include text-style(body, base, regular);
	color: $text-lighten;
	background-color: $opacity-03;
	border-radius: 10px;
}
.popular-search-word {
	background-color: $opacity-05;
	transition: background-color .15s;
	&:hover {
		background-color: $opacity-10;
	}
}



// ---------------------------------------------------------------------------------------------------------------------
.test-tab {
	position: relative;
	height:400px;
	border:1px solid #ddd;
	border-left:0;
	border-right:0;


	$rab-width: 100px;
	.tab {
		display:block;
		width:$rab-width;
		line-height:50px;
		padding:0 20px;
		border-bottom:1px solid #ddd;
	}
	.con {
		position:absolute; left:$rab-width; top:0; z-index:1;
		height:100%;
		padding: 15px;
		border-left:1px solid #ddd;
		background-color:#fff;
	}

	& > li {
		&:first-child .con {
			z-index:2;
		}
		&:hover {
			.tab {
				background-color:#eee;
			}
			.con {
				z-index:2;
			}
		}
	}
}



// ---------------------------------------------------------------------------------------------------------------------
.img_list {
	//margin-top:70px;
}
.img_list li:not(:first-child) {
	//margin-top:50px;
}

body {
	margin:0; min-height: 100dvh;
}
.header {
	//position:fixed; left:0; top:0;
	position: sticky; top:0; z-index:10;
	width:100%;

	.header_top {
		display:flex;
		justify-content:space-between;
		align-items:center;
		position:relative; z-index:1;
		height:40px;
		padding:0 20px;
		background-color:rgba(#fff, .95);
		backdrop-filter: blur(24px);
		&:before,
		&:after {
			position:absolute; left:0; right:0; top:40px;
			height:1px;
			content:"";
		}
		&:before {
			background-color: rgba(#fff, .95);
		}
		&:after {
			background-color: rgba(#000, .07);
		}
	}
	.header_bottom {
		position:relative; z-index:1;
		height:70px;
		margin-top:1px;
		padding:0 10px 0;
		display:flex;
		align-items:center;
		justify-content: space-between;

		&:before,
		&:after {
			position: absolute; left:0; top:0; right:0; z-index:0;
			height:calc(100% + 5px);
			content: "";
		}
		&:before {
			backdrop-filter: blur(24px);
			/* 아래로 갈수록 Blur 자체가 서서히 사라지게 하는 mask */
			mask-image: linear-gradient(
					to bottom,
					#000 0%,
					#000 30%,
					rgba(0,0,0,0.99) 34%,
					rgba(0,0,0,0.98) 38%,
					rgba(0,0,0,0.96) 42%,
					rgba(0,0,0,0.92) 47%,
					rgba(0,0,0,0.87) 52%,
					rgba(0,0,0,0.80) 57%,
					rgba(0,0,0,0.72) 62%,
					rgba(0,0,0,0.62) 68%,
					rgba(0,0,0,0.50) 74%,
					rgba(0,0,0,0.38) 80%,
					rgba(0,0,0,0.28) 86%,
					rgba(0,0,0,0.18) 91%,
					rgba(0,0,0,0.10) 96%,
					rgba(0,0,0,0.05) 99%,
					rgba(0,0,0,0) 100%
			);
		}
		&:after {
			background:linear-gradient(180deg, rgba(#fff, .8) 0%, rgba(#fff, 0) 90%);
		}

		.header_button {
			display:block;
			position:relative; z-index:1;
			width:44px; heighT:44px;
			background-repeat:no-repeat;
			background-position:center;
		}
		.menu_button {
			i {
				position:absolute; left:50%; top:50%;
				transform:translate(-50%, -50%);
				width:20px; height:2px;
				font-size:0; text-indent:-9999px;
				background:linear-gradient(90deg, #222 77%, transparent 77%);
				&:before,
				&:after {
					position:absolute; left:0;
					width:100%; height:100%;
					background-color:#222;
					content:"";
				}
				&:before {top:-8px;}
				&:after {bottom:-8px;}
			}
		}
		.util {
			position:relative; z-index:1;
			a {
				font-size:0; text-indent:-9999px;
			}
			.login {
				background-image:url("../images/header_signin.svg");
			}
			.my {
				background-image:url("../images/header_my.svg");
			}
		}

		.search {
			overflow:hidden;
			position:relative; z-index:1;
			width:calc(100% - 120px); max-width:200px;
			margin-top:0;

			.logo {
				position:absolute; left:2px; top:2px; z-index:1;
				width:40px; height:40px;
				font-size:0; text-indent:-9999px;
				background-image:url("../images/logo_emblem.svg");
				background-repeat:no-repeat;
				background-size:26px auto;
				background-position:center;
			}

			.search_button {
				vertical-align:top;
				width:100%; height:44px;
				padding:2px;
				background: linear-gradient(90deg, $everyday-primary 10%, $reward-primary 90%);
				border-radius:50px;

				i {
					display:block;
					position:relative;
					height:100%;
					font-size:0; text-indent:-9999px;
					background-color:#fff;
					border-radius:50px;
					&:after {
						position:absolute; right:0; top:0;
						width:40px; height:40px;
						background-image:url("../images/search_zoom.svg");
						background-repeat:no-repeat;
						background-position:center;
						background-size:20px auto;
						border-radius:100%;
						content:"";
					}
				}
			}
		}
	}
}
.container {
	//padding-top:70px;
}





















